.header {
  background-color: #DF6249;
  color: white;
  padding: 30px;
  text-align: center;
  position: relative;
  border-bottom: solid white 5px;
  box-shadow: 1px 1px 5px black;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
  font-weight: 300;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30px;
}

.dropdown-menu {
  background-color: #fff;
  border-top: solid white 5px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  margin: 10px 0;
}

.dropdown-menu a {

  
    color: #DF6249;
  text-decoration: none;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

/* Menu ouvert */
.dropdown-menu.open {
  display: flex;
}

.main_menu {
  background-color: #fff;
  color: #DF6249;
  padding: 20px;
}

.sub_menus {
  text-align: left;
  padding: 5px;
  font-weight: 200;
}

.languages_list {
  display: flex;
}

.languages_list ul {
  margin: 0px;
}
.languages_list li {
  margin-right: 20px;
}

@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/BreeSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }