body {
    text-align: center;
    background-image: url(./images/jose-daniel-cabrera-pena-skyrim-the-elder-scrolls-multiplatf.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: initial;
    display: flex;
    justify-content: center;
    font-family: 'Skyrim Medium';
    padding: 0;
}

.main_title_text {
    font-size: 5vw;
}
.main_container {
    display: block;
    width: 90vw;
    border: solid 5px #324065;
    border-radius: 10px;
    background-color: hsl(224, 20%, 70%,0.5);
    backdrop-filter: blur(3px);
    padding: 20px;
}

.opponents_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.critical_strike {
    background-color: maroon;
    color: white;
    padding: 10px;
    width: 25vw;
    display: flex;
    font-weight: 900;
    margin: auto;
    justify-content: center;
}

.stats {
    margin:auto;
    justify-items: center;
    text-align: center;
}

.round_counter {
    font-weight: 900;
    background-color: #324065;
    color: white;
}

.opponent_killed {
    margin: auto;
    background-color: black;
    width: 25vw;
    padding: 10px;
    color: white;
}

.victory {
    margin: auto;
    color: white;
    background-color: goldenrod;
    width: 25vw;
    padding: 10px;
}

select option:hover{
    background-color: #324065;
}

.fight_button {
    width: 10vw;
    font-family: 'Skyrim Medium';
    font-weight: 600;
    background-color: #324065;
    border: white 2px solid;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.fight_button:hover{
    background-color: #324095;
    cursor: url(images/Steel_Sword_mini.png), auto;
}

/*Ajout des polices thématiques*/
@font-face {
    font-family: 'Skyrim Medium';
    src: url('./fonts/Typo3-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Skyrim Normal';
    src: url('./fonts/typo3Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 600px) {

   

    .opponents_columns {
        display: block;
    };
    
}