body {
    text-align: center;
    background-image: url(./images/jose-daniel-cabrera-pena-skyrim-the-elder-scrolls-multiplatf.jpg);
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    font-family: 'Skyrim Medium';
}

.main_container {
    display: block;
    width: 50vw;
    border: solid 5px #324065;
    border-radius: 10px;
    background-color: hsl(224, 20%, 70%,0.5);
    backdrop-filter: blur(3px);
}

.opponents_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.critical_strike {
    background-color: maroon;
    color: white;
    padding: 10px;
    width: 25vw;
    display: flex;
    font-weight: 900;
    margin: auto;
}

.round_counter {
    font-weight: 900;
    background-color: #324065;
    color: white;
}

.opponent_killed {
    margin: auto;
    background-color: black;
    width: 25vw;
    padding: 10px;
    color: white;
}

.victory {
    margin: auto;
    color: white;
    background-color: goldenrod;
    width: 25vw;
    padding: 10px;
}
/*Ajout des polices thématiques*/
@font-face {
    font-family: 'Skyrim Medium';
    src: url('./fonts/Typo3-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Skryim Normal';
    src: url('./fonts/typo3Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
