.homepage {
    padding: 20px;
    text-align: center;
    background-color:  #1d8a3a;
    color: white;
  }
  
  .homepage h2 {
    font-size: 2.5rem;
    font-family: 'Bree Serif';
    font-weight: 300;
  }
  
  .homepage p {
    font-size: 1.2rem;
    margin: 20px 0;
  }

.search_recipe_button{
  display: flex;
  margin: 20px auto;
}

.ingredients_list{
  list-style: none;
}

.recipes_results{
  list-style: none;
}

.ingredients_list, .recipes_list {
  list-style-type: none; 
  padding: 0;
}

.recipes_list li {
  cursor: pointer;
  margin: 5px 0;
}

.recipes_list li:hover {
  color: #007acc;
}

.instructions {
  background-color: #ffffff;
  color: #1d8a3a;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.instructions p {
  margin-bottom: 10px; 
}

  